@import '../../../scss/colors';
@import '../../../scss/variable';

.account-preference {
  margin: auto;
  width: 40%;
  @media screen and (max-width: 576px) {
    width: 90%;
  }
  .account-preference-input {
    ::placeholder {
      color: $placeholder-color;
      font-family: $agenda-lightItalic;
      font-size: 12px;
    }
  }
  .action-btn {
    margin-top: 30px;
    text-align: center;
  }
  .change-password-link {
    cursor: pointer;
    font-family: $agenda-lightItalic;
    font-size: 12px;
    text-align: right;
  }
}
