* {
  margin: 0px;
  padding: 0px;
}
.navbars-bg-primary {
  background-color: #fbfbff;
}
.topnavbar {
  .container {
    padding-right: 12px;
    padding-left: 12px;
  }
  .nav-link {
    // color: #3a5998 !important;
    color: #000 !important;
    margin-bottom: 0px;
    font-weight: 700;
  }
  .dropdown-menu {
    left: -60px;
  }
}

.navwallet {
  .quickdeposit {
    float: right;
    font-size: 10px;
    margin-top: -22px;
    margin-right: 0;
    font-weight: 700;
    z-index: 99;
    color: #3a5998 !important;
  }
}
#basic-nav-dropdown {
  margin-top: 9px;
}

.dropdown-menu {
  background-color: #3a5998;
  border: none;
  border-radius: 15px;
  .dropdown-item {
    color: #fff;
    padding: 0.2rem 1.5rem;
    font-size: 15px;
  }
  .dropdown-item:hover,
  .dropdown-item:focus {
    background: none;
    font-weight: 500;
  }
}

@media only screen and (min-width: 992px) {
  .h-100vh {
    height: 100vh;
  }
}
