.table-heading{
	background-color: #3A5998;
	color: white;
	font-size: 14px;
	font-weight: 500;
	font-family: 'Inter', sans-serif;
}
td{
	border-color: #E9EDF5;
	font-family: 'Inter', sans-serif;
	font-size: 14px;
	font-weight: 900;
}
